<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.1"
 xmlns="http://xmlns.jcp.org/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
 <!-- Nome da Aplicação -->
 <display-name>Pedido Vendas</display-name>
 <context-param>
  <param-name>javax.faces.CONFIG_FILES</param-name>
  <param-value>/WEB-INF/faces-config.xml</param-value>
 </context-param>
 <!-- Estagio Projeto -->
 <context-param>
  <param-name>javax.faces.PROJECT_STAGE</param-name>
  <param-value>Development</param-value>
 </context-param>
 <context-param>
  <param-name>primefaces.FONT_AWESOME</param-name>
  <param-value>true</param-value>
 </context-param>
 <!-- Themes do prime face -->
 <context-param>
  <param-name>primefaces.THEME</param-name>
  <param-value>blitzer</param-value>
 </context-param>
 <context-param>
		<param-name>primefaces.UPLOADER</param-name>
		<param-value>native</param-value>
	</context-param>
 <listener>
  <listener-class>br.com.loftsistemas.pedidovendas.util.HibernateContexto</listener-class>
 </listener>
 <servlet>
  <servlet-name>Faces Servlet</servlet-name>
  <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>
  <servlet>
        <servlet-name>PdfServlet</servlet-name>
        <servlet-class>net.sf.jasperreports.j2ee.servlets.PdfServlet</servlet-class>
  </servlet>
     <!-- JasperReports Servlet Mapping -->   
    <servlet-mapping>
        <servlet-name>PdfServlet</servlet-name>
        <url-pattern>/servlets/report/PDF</url-pattern>
    </servlet-mapping>
     
         <servlet>
        <servlet-name>ReadTextFileServlet</servlet-name>
        <servlet-class>br.com.loftsistemas.pedidovendas.util.ReadTextFileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReadTextFileServlet</servlet-name>
        <url-pattern>/readTextFileServlet</url-pattern>
    </servlet-mapping>
    
 <servlet-mapping>
  <servlet-name>Faces Servlet</servlet-name>
  <url-pattern>*.xhtml</url-pattern>
 </servlet-mapping>
 <mime-mapping>
  <extension>eot</extension>
  <mime-type>application/vnd.ms-fontobject</mime-type>
 </mime-mapping>
 <mime-mapping>
  <extension>otf</extension>
  <mime-type>font/opentype</mime-type>
 </mime-mapping>
 <mime-mapping>
  <extension>ttf</extension>
  <mime-type>application/x-font-ttf</mime-type>
 </mime-mapping>
 <mime-mapping>
  <extension>woff</extension>
  <mime-type>application/x-font-woff</mime-type>
 </mime-mapping>
 <mime-mapping>
  <extension>svg</extension>
  <mime-type>image/svg+xml</mime-type>
 </mime-mapping>
 <mime-mapping>
  <extension>woff2</extension>
  <mime-type>application/x-font-woff2</mime-type>
 </mime-mapping>
 <!-- Pagina Principal -->
 <welcome-file-list>
  <welcome-file>pages/index.xhtml</welcome-file>
 </welcome-file-list>
</web-app>
